body {
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    color: #333333;
    text-transform: uppercase;
    background-color: #f2f2f2;
    background-position: top center;
    background-repeat: no-repeat;
}

a {
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

.button-form-main {
    padding: 30px;
    padding-right: 109px;
    padding-left: 110px;
    font: inherit;
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
    vertical-align: middle;
    text-transform: uppercase;
    background-color: #766357;
    border: none;
  }
  
  .button-form-main:hover {
    background-color: #604e43; 
}
    
  .button-form-main:focus {
    background-color: #503e33;
}
  
   .button-form-find {
    padding: 15px;
    padding-right: 180px;
    padding-left: 180px;
    font: inherit;
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
    vertical-align: middle;
    text-transform: uppercase;
    background-color:#81b3d2;
    border: none;
}

  .button-form-find:hover {
    background-color: #669ec0; 
}
    
  .button-form-find:focus {
    background-color: #5496bd;
}

  .main-navigation {
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
    list-style: none;
    color: #000000;
    background-color: #ffffff;
}

  .main-navigation a {
    color: #000000;
}

  .main-navigation a:hover {
    color: #81b3d2;
}

  .main-navigation a:focus {
    color: rgba(0, 0, 0, 0.3);
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 10px;

}

.welcome {
  margin-bottom: 80px;
  padding: 0px;
  width: 1200px;
  height: 773px;
  text-align: center;
  background-color: #f9f6f3;
  background-position: center;
}
.block1 {
  width: 1200px;
  margin: 0 auto;
  background-image: url("../img/background-photo.png"); no-repeat;
}

.block2 {
  background: url("../img/welcome.png") no-repeat;
  background-position: 50% 50%;
}

.block3 {
  height: 773px;
  background: url("../img/polygon.png") no-repeat;
  background-position: left bottom;
}
.block-4{
  margin: 0;
  padding: 0;
  text-align: center;
}


  .features-1 {
    display: flex;
    justify-content: space-between;
    color: #ffffff;
    background-color: #81b3d2;
    margin: 0;
    padding: 0;
    text-align: center;
    vertical-align: center;
    min-height: 256px;
    width: 1200px;
}

  .features-1 h3 {
    font-size: 21px;
    line-height: 21px;
  }

  .features-1-text {
    padding-left: 50px;
  }

  .features-list-1 {
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    list-style: none;
    min-height: 350px;
    width: 1200px;
}

  .feature-item-1 {
    width: 300px;
    text-align: center;
}

  .feature-item-1 h3 {
    font-size: 21px;
    line-height: 21px;
  }

  .features-list-2 {
    display: flex;
    justify-content: space-between;
    background-color: #f2f2f2;
    margin: 0;
    padding: 10px;
    list-style: none;
    min-height: 250px;
    width: 1200px;
}

  .feature-item-2 {
    width: 250px;
    text-align: center;
}

  .feature-item-2 h3 {
    font-size: 21px;
    line-height: 21px;
  }

  .form-search {
    color: #000000;
    background-color: #ffffff;
}

.form-search h2 {
    font-size: 30px;
    line-height: 36px;
    text-align: center;
}

.form-search div {
    font: inherit;
    text-align: center;

}
.form-search-item {
    font-size: 14px;
    font-weight: 700;
}

.hotel-list {
  margin: 0;
  padding-top: 0;
  background-color: #ffffff;
  list-style: none;
}

.hotel-list .container {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  height: 150px;
}

.hotel-list-photo {
  width: 100px;
  margin: 0;
  padding-left: 50px;
  vertical-align: middle;
}

.hotel-list-description {
  width: 700px;
  margin: 0;
}

.rating {
  width: 200px;
}

.rating-number {
  margin: 0;
  padding: 5px;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-align: left;
  color: #666666;
  vertical-align: middle;
  background-color: #f2f2f2;
  border: none;
}

.hotel-list h3 {
  font-size: 21px;
  line-height: 26px;
  color: #797474;
}

.hotel-list h3 a {
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  text-decoration: none;
}

.hotel-list h3 a:hover {
  color: #81b3d2;
}

.hotel-list h3 a:focus {
  color: rgba(0, 0, 0, 0.3);
}

.blue-button {
    padding: 5px;
    padding-right: 15px;
    padding-left: 15px;
    font-size: 14px;
    line-height: 21px;
    font-weight: 700;
    text-align: left;
    color: #ffffff;
    vertical-align: middle;
    background-color:#81b3d2;
    border: none;
}

.blue-button:hover {
  background-color: #669ec0; 
}
  
.blue-button:focus {
  background-color: #5496bd;
}

.brown-button {
  padding: 5px;
  padding-right: 15px;
  padding-left: 15px;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  text-align: left;
  color: #ffffff;
  vertical-align: middle;
  background-color: #766357;
  border: none;
}

.brown-button:hover {
  background-color: #604e43; 
}
  
.brown-button:focus {
  background-color: #503e33;
}

.footer {
  justify-content: space-between;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  list-style: none;
  
}

.footer .container {
  display: flex;
  width: 1200px;
  height: 150px;
}

  .footer-contacts {
    width: 400px;
    margin: 0;
    margin-left: 80px;
    color: #000000;
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
}

  .footer-social {
    width: 170px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0p;
    list-style: none;
}

  .footer-social ul {
    list-style: none;
}
  
  .social-button {
    width: 40px;
    height: 40px;
    margin: 3px;
    padding: 5px;
    list-style: none;
    color: #ffffff;
    background-color: #81b3d2;
}

  .footer-copyright {
    width: 400px;
    margin: 0;
    text-align: right;
    vertical-align: middle;
}

  .footer-copyright a {
    color: #000000;
}
  
  .footer-copyright a:hover {
    color: #81b3d2;
}

  .footer-copyright a:focus {
    color: #bdbbbc;
}
