body {
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    color: #333333;
    text-transform: uppercase;
    background-color: #f2f2f2;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0;
  box-shadow: 0 0 15px -5px #ada9a9; 
}

header {
  position: relative;
}

a {
    text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
    font-family: inherit;
    text-transform: uppercase;
}

h3 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

.main-background {
  background: url('../img/background-photo.png') center -30px;
  background-repeat: no-repeat;
  background-color: #f2f2f2;
}


  .button-form-main {
   display: block;
   margin-left: auto;
   margin-right: auto;
   padding-top: 30px;
   padding-bottom: 30px;
   width: 568px;
   font-size: 21px;
   line-height: 26px;
   font-weight: 700;
   color: #ffffff;
   background-color: #766357;
   border: none;
   cursor: pointer;
}
  
  .button-form-main:hover {
    background-color: #604e43; 
}
    
  .button-form-main:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #503e33;
}
  
   .button-form-find {
     margin-top: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 458px;
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    color: #ffffff;
    background-color:#81b3d2;
    border: none;
    cursor: pointer;
}

  .button-form-find:hover {
    background-color: #669ec0; 
}
    
  .button-form-find:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #5496bd;
}

.logo {
  position: absolute;
  top: 0;
  left: 535px;
}

.main-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 72px;
  font-weight: 700;
  color: #000000;
  background-color: #ffffff;
}


.nav-start {
  padding-right: 130px;
}

.nav-finish {
  padding-right: 40px;
}

  .main-navigation a {
    color: #000000;
}

  .main-navigation a:hover {
    color: #81b3d2;
}

  .main-navigation a:active {
    color: rgba(0, 0, 0, 0.3);
}

.main-navigation .active a {
  color: #766357;
}

.welcome {
    padding-top: 502px;
    width: 100%;
    background-color: #899fa5;
    background: url('../img/polygon.png'), url('../img/welcome.png');
    background-repeat: no-repeat;
    background-position: center 445px, center 73px;
    
}

.welcome-text {
  padding: 50px;
  text-align: center;
  background-color: #ffffff;
}

  .features-1 {
    display: flex;
    justify-content: space-between;
    color: #ffffff;
    background-color: #81b3d2;
    margin: 0;
    padding: 0;
    text-align: center;
    vertical-align: center;
    min-height: 256px;
    width: 1200px;
}

  .features-1-text {
    display: block;
    margin: auto;
  }

  .features-1-text h3 {
    padding-top: 3px;
    padding-bottom: 18px;
    font-size: 21px;
    line-height: 23px;
  }

  .features-1-text p {
    line-height: 21px;
    padding-bottom: 15px;
  }

  .features-list-1 {
    display: flex;
    justify-content: space-around;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    list-style: none;
    width: 1200px;
    height: 330px;
}

  .feature-item-1 {
    display: block;
    margin: auto;
    width: 300px;
    text-align: center;
}

  .feature-item-1 h3 {
    padding: 20px;
    font-size: 21px;
    line-height: 21px;
  }

  .feature-item-1 p {
    line-height: 21px;
  }

  .features-list-2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    list-style: none;
    height: 250px;
    width: 1200px;
}

  .feature-item-2 {
    text-align: center;
}

  .feature-item-2 h3 {
    font-size: 21px;
    line-height: 21px;
    padding-bottom: 20px;
  }

  .feature-item-2 p {
    line-height: 21px;
  }

  .feature-item-2-number {
    padding-bottom: 20px;
  }

  .search {
    padding-top: 50px;
    color: #000000;
    background-color: #ffffff;
    
}

.search h2 {
    font-size: 30px;
    line-height: 36px;
    text-align: center;
}

.search-text {
    padding-bottom: 50px;
    text-align: center;
}

.open-form {
  position: relative;
}

.form-main {
  display: block;
  top: 86px;
  left: 316px;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  background-color: #ffffff;
  padding: 55px;
  width: 458px;
  box-shadow: 0 5px 15px -5px #ada9a9; 
}

.form-search-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 28px;
  font-weight: 700;
}

.form-search-check {
  width: 340px;
  height: 30px;
  padding: 4px;
  background-color: #f2f2f2;
  border: none;
  font-family: inherit;
  font-weight: 700;
}

.form-search-check:hover {
  background-color: #ebebeb;
}

.form-search-check:focus {
  background-color: #ffffff;
  outline: 1 px solid #ebebeb;
}

.form-search-check:active {
  background-color: #ffffff;
  outline: 1 px solid #ebebeb;
}

.form-calendar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 458px;
}

.form-calendar svg {
  position: absolute;
  top: 8px;
  right: 10px;
  opacity: 0.3;
}

.form-calendar svg:hover {
  opacity: 1;
}

.form-calendar svg:active {
  fill: #81b3d2;
}

.form-search-adult-kids{
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
}

.form-search-number {
  width: 100px;
  height: 30px;
  padding: 4px;
  background-color: #f2f2f2;
  border: none;
  font-family: inherit;
  text-align: center;
  font-weight: 700;
}

.adult {
  margin-left: 37px;
}

.kids {
  margin-left: 25px;
}

.form-search-number:hover {
  background-color: #ebebeb;
}

.form-search-number:focus {
  background-color: #ffffff;
  border: 1 px solid #ebebeb;
}

.adult-down {
  position: absolute;
  opacity: 0.3;
  top: 6px;
  right: 84px;
  font-size: 26px;
}

.adult-up {
  position: absolute;
  opacity: 0.3;
  top: 6px;
  right: 12px;
  font-size: 26px;
}

.kids-down {
  position: absolute;
  opacity: 0.3;
  top: 6px;
  right: 84px;
  font-size: 26px;
}

.kids-up {
  position: absolute;
  opacity: 0.3;
  top: 6px;
  right: 12px;
  font-size: 26px;
}

.map {
  overflow: hidden; 
  height: 473px;
}


.catalog-background {
  background-image: url('../img/filter-background.png');
  background-repeat: no-repeat;
  background-position: center -240px;
  background-color: #f2f2f2;

}

.hotels-form {
  display: flex;
  justify-content: space-between;
  padding-top: 31px;
  padding-bottom: 12px;
  width: 100%;
  margin: 0;
  

}

.hotels-search {
  display: flex;
  padding-left: 72px;
  color: #ffffff;
  border: none;
}

.hotels-search h3 {
  padding-bottom: 30px;
  font-size: 16;
  line-height: 16px;

}

.hotels-search label {
  position: relative;
  padding-left: 20px;
  display: block;
  
  cursor: pointer;
  user-select: none;
}

.hotels-search label:hover,
.hotels-search label:focus {
  color: #ffffff;
}

.hotels-search input[type="checkbox"] {
  display: none;
}

.hotels-search label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

.hotels-search input[type="checkbox"] + .checkbox-indicator {
  position: absolute;
  top: 0;
  left: -20px;

  width: 27px;
  height: 23px;
  background-image: url(../img/checkbox-off.svg);
  background-repeat: no-repeat;
  
}

.hotels-search input[type="checkbox"]:checked + .checkbox-indicator::before {
  content: "";
  position: absolute;
  width: 27px;
  height: 23px;
  background-image: url(../img/checkbox-off.svg);
  background-repeat: no-repeat;
}

.hotels-search input[type="checkbox"]:checked + .checkbox-indicator::after {
  content: "";
  position: absolute;
  width: 27px;
  height: 23px;
  background-image: url(../img/checkbox-on.svg);
  background-repeat: no-repeat;
}

.hotels-search input[type="checkbox"]:disabled + .checkbox-indicator::before {
  content: "";
  position: absolute;
  width: 27px;
  height: 23px;
  background-image: url(../img/checkbox-off.svg);
  background-repeat: no-repeat;
}

.hotels-search input[type="checkbox"]:checked + .checkbox-indicator::after {
  content: "";
  position: absolute;
  width: 27px;
  height: 23px;
  background-image: url(../img/checkbox-on.svg);
  background-repeat: no-repeat;
}


.hotels-search li {
  margin-bottom: 20px;
  padding-left: 20px;
}

.hotels-search-type {
  margin-left: 100px;
}

.filter-range {
  padding-right: 74px;
  width: 330px;
  color: #ffffff;
  text-transform: uppercase;
}

.filter-range-title {
  margin-bottom: 9px;

  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;
  
  height: 36px;
  margin-bottom: 20px;
  
  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;

  font-size: 14px;
  line-height: 38px;
  vertical-align: top;

  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  border: 9px solid #ffffff;
  background: #ababab;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;

  background: #ffffff;
}


.search-results {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 30px 72px;
  background: #ffffff;
}

.search-number {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  width: 165px;
}

.search-sort {
  padding-right: 35px;
  font-size: 12px;
  line-height: 18px;
  color: #000000;
  
  }

.search-type {
  display: flex;
  justify-content: flex-start;
  flex-grow: 1;
  font-size: 12px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
}

.search-type p {
  padding-right: 30px;
}

.search-type a {
  text-decoration: none;
  border-bottom: 1px dotted rgba(0, 0, 0, 0.3);
}

.search-type a:hover {
  color: #81b3d2;
  text-decoration: none;
  border-bottom: 1px dotted #81b3d2;
}

.search-type a:active {
  color: #000000;
  text-decoration: none;
  border-bottom: none;
}

.search-type .active a{
  color: #81b3d2;
  text-decoration: none;
  border-bottom: none;
}


.search-button {
display: flex;
justify-content: flex-start;
align-items: stretch;
width: 40px;

}

.searsh-button-up-down {
  margin: -3px;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
  outline: none;
}

.searsh-button-up-down svg {
  fill: #cacaca;
}

.searsh-button-up-down:hover svg {
  fill: #000000;
}

.searsh-button-up-down:active svg {
  fill: #81b3d2;
}

.searsh-button-up-down .active svg{
  fill: #81b3d2;
}



.hotel-list {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  margin: 0;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: #ffffff;
}

.hotel-list-line {
  margin: 0;
  padding: 0;
  border: none;
  color: #ecebeb;
  background-color: #ecebeb;
  height: 1px;
}

.hotel-list-photo {
  padding-top: 5px;
  padding-left: 72px;
  width: 165px;
}

.hotel-list-description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: flex-start;
  flex-grow: 1;
  
}

.hotel-list-description-inside {
  display: flex;
}

.hotel-list-name {
  display: block;
  padding-bottom: 5px;
  font-size: 21px;
  color: #797474;
}

.hotel-list-name a {
  color: #000000;
}

.hotel-list-name a:hover {
  color: #81b3d2;
}

.hotel-list-name a:active {
  color: rgba(0, 0, 0, 0.3);
}

.hotel-list-info {
  display: block;
  padding-top: 0;
  padding-right: 5px;
}

.hotel-list-category {
  padding-bottom: 11px;
}

.blue-button {
    padding: 5px 15px;
    font-weight: 700;
    color: #ffffff;
    background-color:#81b3d2;
}

.blue-button:hover {
  background-color: #669ec0; 
}
  
.blue-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.brown-button {
  padding: 5px 15px;
  font-weight: 700;
  color: #ffffff;
  background-color: #766357;
}

.brown-button:hover {
  background-color: #604e43; 
}
  
.brown-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.rating {
  display: block;
  padding-right: 73px;
  width: 100px;
}

.rating-stars {
  display: flex;
  justify-content: flex-end;
  padding-top: 3px;
  padding-bottom: 47px;
}

.rating-number {
  text-align: center;
  color: #666666;
  background-color: #f2f2f2;
  border: none;
}

.footer {
  display: flex;
  justify-content: space-between;
  width: 967px;
  padding-top: 36px;
  padding-bottom: 36px;
  padding-left: 132px;
  padding-right: 101px;
  align-items: center;
  background-color: #ffffff;
}

  .footer-contacts {
    color: #000000;
    font-weight: 700;
    font-size: 21px;  
}

  .footer-social {
    display: flex; 
    flex-wrap: wrap;
    margin-right: 55px;
}

  .social-button {
    margin: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 46px;
    height: 48px;
    background-color: #81b3d2;
}

  .social-button:not(:last-child) {
  margin-right: 6px;    
}

  .social-button:hover {
    background-color: #669ec0;
}

  .social-button:active {
    background-color: #669ec0;
  }

  .footer-copyright {
    display: flex;
    align-items: center;
    
}

  .footer-copyright a {
    padding-top: 7px;
    fill: #231f20;
}
  
  .footer-copyright a:hover path {
    fill: #81b3d2;
}

  .footer-copyright a:active path {
    fill: #bdbbbc;
}
.footer-website{
  padding-right: 10px;
}
