body {
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    color: #333333;
    text-transform: uppercase;
    background-color: #f2f2f2;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0;
  box-shadow: 
  -5px 0 15px -10px #797474,
  5px 0 15px -10px #797474; 
}

header {
  position: relative;
}

a {
    text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
    font-family: inherit;
    text-transform: uppercase;
}

h3 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

.main-background {
  background: url('../img/background-photo.png') center -30px;
  background-repeat: no-repeat;
  background-color: #f2f2f2;
}

.button-form-main {
  display: block;
  margin-left: auto;
  margin-right: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 568px;
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    color: #ffffff;
    background-color: #766357;
    border: none;
  }
  
  .button-form-main:hover {
    background-color: #604e43; 
}
    
  .button-form-main:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #503e33;
}
  
   .button-form-find {
     margin-top: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 458px;
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    color: #ffffff;
    background-color:#81b3d2;
    border: none;
}

  .button-form-find:hover {
    background-color: #669ec0; 
}
    
  .button-form-find:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #5496bd;
}

.logo {
  position: absolute;
  top: 0;
  left: 535px;
}

  .main-navigation {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
    font-weight: 700;
    color: #000000;
    background-color: #ffffff;
}

  .main-navigation a {
    color: #000000;
}

  .main-navigation a:hover {
    color: #81b3d2;
}

  .main-navigation a:active {
    color: rgba(0, 0, 0, 0.3);
}

.main-navigation .active a {
  color: #766357;
}

  .welcome {
    padding-top: 502px;
    width: 100%;
    background: url('../img/polygon.png'), url('../img/welcome.png');
    background-repeat: no-repeat;
    background-position: center 445px, center 73px;
}

.welcome-text {
  padding: 50px;
  text-align: center;
  background-color: #ffffff;
}

  .features-1 {
    display: flex;
    justify-content: space-between;
    color: #ffffff;
    background-color: #81b3d2;
    margin: 0;
    padding: 0;
    text-align: center;
    vertical-align: center;
    min-height: 256px;
    width: 1200px;
}

  .features-1-text {
    display: block;
    margin: auto;
  }

  .features-1-text h3 {
    padding-top: 3px;
    padding-bottom: 18px;
    font-size: 21px;
    line-height: 23px;
  }

  .features-1-text p {
    line-height: 21px;
    padding-bottom: 15px;
  }

  .features-list-1 {
    display: flex;
    justify-content: space-around;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    list-style: none;
    width: 1200px;
    height: 330px;
}

  .feature-item-1 {
    display: block;
    margin: auto;
    width: 300px;
    text-align: center;
}

  .feature-item-1 h3 {
    padding: 20px;
    font-size: 21px;
    line-height: 21px;
  }

  .feature-item-1 p {
    line-height: 21px;
  }

  .features-list-2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    list-style: none;
    height: 256px;
    width: 1200px;
}

  .feature-item-2 {
    text-align: center;
}

  .feature-item-2 h3 {
    font-size: 21px;
    line-height: 21px;
    padding-bottom: 20px;
  }

  .feature-item-2 p {
    line-height: 21px;
  }

  .feature-item-2-number {
    padding-bottom: 20px;
  }

  .search {
    padding-top: 50px;
    color: #000000;
    background-color: #ffffff;
    
}

.search h2 {
    font-size: 30px;
    line-height: 36px;
    text-align: center;
}

.search-text {
    padding-bottom: 50px;
    text-align: center;
}

.map {
  position: relative;
}

.form-main {
  display: block;
  top: 0;
  left: 316px;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  background-color: #ffffff;
  padding: 55px;
  width: 458px;
  box-shadow: 0 5px 10px 2px #d1d0d0;
}

.form-search-item {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
  font-weight: 700;
}

.form-search-check {
  margin: 0;
  width: 290px;
  height: 30px;
  padding: 5px;
  background-color: #f2f2f2;
  border: none;
  font-family: inherit;
  font-weight: 700;
}

.icon-calendar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: 39px;
  height: 39px;
  background-color: #f2f2f2;
}

.icon-calendar svg {
  opacity: 0.4;
}

.icon-calendar svg:hover {
  opacity: 1;
}

.icon-calendar svg:active {
  fill: #81b3d2;
}

#

.form-search-check:hover {
  background-color: #ebebeb;
}

.form-search-check:focus {
  background-color: #ffffff;
  border: 1 px solid #ebebeb;
}

.form-search-adult{
  margin-right: 46px;
}

.form-search-kids{
  margin-right: 25px;
}

.form-search-number {
  width: 100px;
  height: 30px;
  padding: 5px;
  background-color: #f2f2f2;
  border: none;
  font-family: inherit;
  font-weight: 700;
}

.form-search-number:hover {
  background-color: #ebebeb;
}

.form-search-number:focus {
  background-color: #ffffff;
  border: 1 px solid #ebebeb;
}

.hotel-list {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  margin: 0;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: #ffffff;
}

.hotel-list-line {
  margin: 0;
  padding: 0;
  border: none;
  color: #ecebeb;
  background-color: #ecebeb;
  height: 1px;
}

.hotel-list-photo {
  padding-top: 5px;
  padding-left: 80px;
  width: 165px;
}

.hotel-list-description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: flex-start;
  flex-grow: 1;
  
}

.hotel-list-description-inside {
  display: flex;
}

.hotel-list-name {
  display: block;
  padding-bottom: 5px;
  font-size: 21px;
  color: #797474;
}

.hotel-list-name a {
  color: #000000;
}

.hotel-list-name a:hover {
  color: #81b3d2;
}

.hotel-list-name a:active {
  color: rgba(0, 0, 0, 0.3);
}

.hotel-list-info {
  display: block;
  padding-top: 0;
  padding-right: 5px;
}

.hotel-list-category {
  padding-bottom: 11px;
}

.blue-button {
    padding: 5px 15px;
    font-weight: 700;
    color: #ffffff;
    background-color:#81b3d2;
}

.blue-button:hover {
  background-color: #669ec0; 
}
  
.blue-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.brown-button {
  padding: 5px 15px;
  font-weight: 700;
  color: #ffffff;
  background-color: #766357;
}

.brown-button:hover {
  background-color: #604e43; 
}
  
.brown-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.rating {
  display: block;
  padding-right: 73px;
  width: 100px;
}

.rating-stars {
  display: flex;
  justify-content: flex-end;
  padding-top: 3px;
  padding-bottom: 47px;
}

.rating-number {
  text-align: center;
  color: #666666;
  background-color: #f2f2f2;
  border: none;
}

.footer {
  display: flex;
  justify-content: space-between;
  width: 967px;
  padding-top: 36px;
  padding-bottom: 36px;
  padding-left: 132px;
  padding-right: 101px;
  align-items: center;
  background-color: #ffffff;
}

  .footer-contacts {
    color: #000000;
    font-weight: 700;
    font-size: 21px;  
}

  .footer-social {
    display: flex; 
    flex-wrap: wrap;
}

  .social-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 46px;
    height: 48px;
    background-color: #81b3d2;
}

  .social:not(:last-child) {
    margin-right: 6px;    
}

  .social-button:hover {
    background-color: #669ec0;
}

  .social-button:active {
    background-color: #669ec0;
  }

  .footer-copyright {
    display: flex;
    align-items: center;
    
}

  .footer-copyright a {
    padding-top: 7px;
    fill: #231f20;
}
  
  .footer-copyright a:hover path {
    fill: #81b3d2;
}

  .footer-copyright a:active path {
    fill: #bdbbbc;
}
.footer-website{
  padding-right: 10px;
}
